<div class="container-fluid-app">
  <div class="conatainer">
    <nav class="navbar">
      <div class="logo"><h3>Flight Booking</h3></div>
      <div class="div">
        <ul class="links">
          <li>
            <a routerLink="list-ticket"><h4 class="link-internal">Book Flight</h4></a>
          </li>
          <li>
            <a routerLink="list-flight"><h4 class="link-internal">List Flights</h4></a>
          </li>
          <li>
            <a routerLink="add-flight"
              ><h4 class="link-internal">Add Flight</h4></a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</div>
